{
  "parser": "babel-eslint",
  "root": true,
  "plugins": ["no-loops", "jest", "prettier"],
  "env": {
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "ignorePatterns": ["node_modules", "dist", "jest.config.js"],
  "rules": {
    "prettier/prettier": 1
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
